[MASTER]
extension-pkg-whitelist=cv2,win32gui,win32process

[TYPECHECK]
generated-members=cv2.*,win32gui.*,win32process.*

[tool.pylint.code_style]
max-line-length = 160
disable=logging-fstring-interpolation,logging-format-interpolation