opencv-python==4.8.1.78
PyAutoGUI==0.9.54
mss==9.0.1
numpy==1.26.2
opencv-python==4.8.1.78
pytesseract==0.3.10
psutil==5.9.6
argparse==1.4.0
pywin32==306; platform_system == "Windows"
pyinstaller==6.2.0
pylint==3.0.2
keyboard==0.13.5
isort[requirements_deprecated_finder,pipfile_deprecated_finder]==5.12.0
pytest==7.4.3
pytest-pylint==0.21.0
flake8==6.1.0
black==23.11.0
loguru==0.7.2
pre-commit==3.5.0
requests==2.31.0
ruamel.yaml==0.18.5
pyHM==0.0.7
scipy==1.11.3